<ion-header>
  <ion-toolbar>
  <ion-button icon-only (click) = "dismiss()">
  	<ion-icon name = "arrow-back"></ion-icon>
  </ion-button>
    <ion-title>
      Engine Health
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header> high severity- 3 </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          the car has malfunctioned and needs to be fixed
        </ion-item>
        <ion-item>
          the engine blew up and needs to look at 
        </ion-item>
        <ion-item>
          the car is done for
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header> medium severity- 2 </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          the car has malfunctioned and needs to be fixed
        </ion-item>
        <ion-item>
          the engine blew up and needs to look at 
        </ion-item>
        <ion-item>
          the car is done for
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>