ion-card-header{
	background-color: #F0AB00;
    border-bottom-left-radius: 2rem;
    color:white;
}
ion-content{
	--background: #222428;
}
ion-card{
	--background: black !important;
	color:white;
}
ion-item{
	--background: 	#a7adba;
}
ion-list{
	border-radius: 0.5rem;
	color: black;
}
ion-toolbar{
	--background: black;
	// text-shadow: 1px 1px 10px #f2f771 !important;
	color: #F0AB00 !important;
}
ion-button{
	--background: transparent;
}
.button-solid{
	--background-activated:#fafcc4;
}
.list-md{
	background:#a7adba;
}