<ion-header>
  <ion-toolbar>
  <ion-button icon-only (click) = "dismiss()">
  	<ion-icon name = "arrow-back"></ion-icon>
  </ion-button>
    <ion-title>
      Performance
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
	<ion-card-header> low severity - 3</ion-card-header>
	<ion-card-content>
		<ion-list>
			<ion-item>
				Software needs to be updated
			</ion-item>
			<ion-item>
				Shift needs to be checked by mechanics
			</ion-item>
			<ion-item>
				Steering wheel needs to be checked by mechanics
			</ion-item>
		</ion-list>
	</ion-card-content>
</ion-card>
</ion-content>