<ion-header>
    <ion-toolbar>
    <ion-button icon-only (click) = "dismiss()">
      <ion-icon name = "arrow-back"></ion-icon>
    </ion-button>
      <ion-title>
        Enter Your Car Information
      </ion-title>
      <ion-button (click) = "presentToast()" slot="end" >Save</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Car Make</ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="Toyota">Toyota</ion-select-option>
              <ion-select-option value="Honda">Honda</ion-select-option>
              <ion-select-option value="BMW">BMW</ion-select-option>
            </ion-select>
          </ion-item>
      <ion-item>
          <ion-label>Car Model</ion-label>
            <ion-select placeholder="Select One">
                <ion-select-option value=""></ion-select-option>
                <ion-select-option value="3 series">3 series</ion-select-option>
                <ion-select-option value="4 series">4 series</ion-select-option>
                <ion-select-option value="5 series">4 series</ion-select-option>
                <ion-select-option value="M3">M3</ion-select-option>
                <ion-select-option value="M4">M4</ion-select-option>
                <ion-select-option value="M5">M5</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Year</ion-label>
           <ion-datetime display-format="YYYY" min="1970" placeholder="Select Year" ></ion-datetime>
          </ion-item>
          <ion-item>
              <ion-label>Transmission Type</ion-label>
              <ion-select placeholder="Select One">
                <ion-select-option value="Manual">Manual</ion-select-option>
                <ion-select-option value="Auto">Automatic</ion-select-option>
              </ion-select>
            </ion-item>
    </ion-list>
    
  </ion-content>