<ion-header>
  <ion-toolbar>
  <ion-button icon-only (click) = "dismissModal()">
  	<ion-icon name = "arrow-back"></ion-icon>
  </ion-button>
    <ion-title>
      Auto Repair Shops
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
	<ion-card-header> Firestone Complete Auto Care <b>(20% off)</b></ion-card-header>
	<ion-card-content>
		305 Lancaster Ave, Wynnewood, PA 19096
		(610) 726-1599
	</ion-card-content>
</ion-card>
<ion-card>
	<ion-card-header> Firestone Complete Auto Care<b>(15% off)</b></ion-card-header>
	<ion-card-content>
		1305 West Chester Pike, West Chester, PA 19382
		(484) 999-0509
	</ion-card-content>
</ion-card>
<ion-card>
	<ion-card-header> Toyota Repair Shop <b>(10% off)</b></ion-card-header>
	<ion-card-content>
		219 E Lancaster Ave, Ardmore, PA 19003 <br>
		(610) 645-5000
	</ion-card-content>
</ion-card>
<ion-card>
	<ion-card-header> Toyota <b>(10% off)</b></ion-card-header>
	<ion-card-content>
		593 Lancaster Ave, Malvern, PA 19355 <br>
		(484) 329-7300
	</ion-card-content>
</ion-card>
<ion-card>
	<ion-card-header> Pep Boys <b>(30 dollars off)</b></ion-card-header>
	<ion-card-content>
		2916 Springfield Rd, Broomall, PA 19008 <br>
		(610) 353-3384
	</ion-card-content>
</ion-card>

<!-- <ion-card>
	<ion-card-header> April 7, 2019</ion-card-header>
	<ion-card-content>
		Team Toyota
	</ion-card-content>
</ion-card> -->
</ion-content>