ion-toolbar{
	--background: #343d46;
	// text-shadow: 1px 1px 10px #f2f771 !important;
	color: #fafcc4 !important;
}

.dashboard{
	ion-col{
		text-align: center;
	}
	ion-row{
		border-bottom: solid black 1px;
		margin-bottom: 2rem;
	}
}

	h1{
		text-align: center;
	}

	ion-card-header{
	background-color: #4f5b66;
    border-bottom-left-radius: 2rem;
    color:white;
}
ion-content{
	--background: 	#343d46 !important;
}
ion-card{
	--background: #65737e !important;
}
ion-card-header{
	border-bottom-right-radius: 2rem;
}

ion-toolbar{
	--background: #343d46;
	// text-shadow: 1px 1px 10px #f2f771 !important;
	color: #fafcc4 !important;
}
ion-card-content{
	color:white;
}
ion-button{
	--background: transparent;
}
.button-solid{
	--background-activated:#fafcc4;
}
.list-md{
	background:#a7adba;
}