ion-toolbar{
	--background: #343d46;
	// text-shadow: 1px 1px 10px #f2f771 !important;
	color: #fafcc4 !important;
}

.dashboard{
	ion-col{
		text-align: center;
	}
	ion-row{
		border-bottom: solid black 1px;
		margin-bottom: 2rem;
	}
}

	h1{
		text-align: center;
	}