<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<h1>History</h1>
	<ion-grid class = "dashboard">
		<ion-row>
			<ion-col><b>Tire Rotations</b></ion-col>
			<ion-col><b>Oil Changes</b></ion-col>
		</ion-row>
		<ion-row>
			<ion-col>March 3, 2016</ion-col>
			<ion-col>May 4, 2016</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>June 7, 2016</ion-col>
			<ion-col>September 28, 2017</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>May 8, 2017</ion-col>
			<ion-col>March 23, 2018</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>July 24, 2018</ion-col>
			<ion-col>July 4, 2018</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>January 1, 2019</ion-col>
			<ion-col>February 24, 2019</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
