.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-card-content{
  padding-top: 0px;
}
ion-content{
	ion-card-title{
	text-align: center;
	color: #F0AB00 !important;
	}
	ion-card-content{
		text-align: center;
		// text-shadow: 1px 1px 10px #f9f9e5 !important;
		color: #f9f9f2 !important;
	}
	--background: #222428;
}
ion-toolbar{
	--background: black;
	// text-shadow: 1px 1px 10px #f2f771 !important;
	color: white !important;
}
ion-list-header{
	// text-shadow: 1px 1px 10px #f2f771 !important;
	color: white!important;
	font-size: 11pt;
	--background: #222428;
	border-bottom: 1px solid #F0AB00;
	border-top: 1px solid #F0AB00;
}
ion-item{
	--background: #222428;
	// text-shadow: 1px 1px 10px #f9f9e5 !important;
	color: #f9f9f2 !important;
}
ion-card{
	--background: #222428;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	border-radius: 0px;
}

