<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "background-color">
    <ion-card class="welcome-card">
      <ion-img src="/assets/million.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Million Miles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Replenish, Heal, and Conserve your Vehicle</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item (click) = "presentFiles();">
          <ion-icon slot="start" color="light" name="albums"></ion-icon>
          <ion-label>Documents</ion-label>
        </ion-item>
      <ion-item (click) = "presentDiagnostic();">
          <ion-icon slot="start" color="light" name="checkmark-circle-outline"></ion-icon>
          <ion-label>Send Diagnostic Report</ion-label>
        </ion-item>
      <ion-item (click) = "presentObdInstall();">
        <ion-icon slot="start" color="light" name="car"></ion-icon>
        <ion-label>How to install OBD</ion-label>
      </ion-item>
      <ion-item (click) = "presentObdBenefit();">
        <ion-icon slot="start" color="light" name="information-circle"></ion-icon>
        <ion-label>Benefits of Million Miles</ion-label>
      </ion-item>
      <ion-item (click) = "presentObdSetting()">
        <ion-icon slot="start" color="light" name="build"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
      <ion-item (click) = "presentObdContact();">
        <ion-icon slot="start" color="light" name="contact"></ion-icon>
        <ion-label>Contact Us</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
