.car-descrip{
	h1{
		text-align: center;
	}
	ion-grid{
		ion-row{
			text-align: center;
		}
	}
	ion-button{
		background-color: #41a07f !important;
	}
	text-align: center;
}
	ion-icon{
		font-size: 3rem;
	}
