<ion-header>
  <ion-toolbar>
    <ion-title>
      BMW 4 Series
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class = "car-descrip">
		<ion-grid>
			<ion-row>
				<ion-col>Last checked: <b>2 Days Ago</b></ion-col>
			</ion-row>
		</ion-grid>
		
		<mwl-gauge *ngIf = "showFix"
		[max]="100"
		[value]="78"
		[animated]="true"
		[animationDuration]="1.5">
	</mwl-gauge>
	<img src = "../../assets/images/bmw.jpg" *ngIf = "!showFix">
		<ion-grid>
				<ion-col *ngIf = "showDiag"><ion-button (click) = "launchFix()">Run Diagnostic</ion-button></ion-col>
				<ion-col *ngIf = "showSpin"><ion-spinner style = "color:white;"></ion-spinner></ion-col>
				<ion-col *ngIf = "showFix"><ion-button (click) = "presentAutoLocation()">Repair Location</ion-button></ion-col>
		</ion-grid>
	</div>
	<div>
		<ion-list *ngIf = "showFix">
			<ion-item>
				<ion-grid>
					<ion-row (click) = "presentEngineHealth()">
						<ion-col size = "2"><ion-icon name="heart-empty"></ion-icon></ion-col>
						<ion-col padding>Engine health </ion-col>
						<ion-icon name="close-circle" padding color="danger"></ion-icon>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row (click) = "presentRPM()">
						<ion-col size = "2"><ion-icon name="rocket"></ion-icon></ion-col>
						<ion-col padding>RPM </ion-col>
						<ion-icon name="warning" padding color="warning"></ion-icon>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row (click) = "presentOil()">
						<ion-col size = "2"><ion-icon name="bonfire"></ion-icon></ion-col>
						<ion-col padding>Oil Health</ion-col>
						<ion-icon name="checkmark-circle" padding color="success"></ion-icon>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row (click) = "presentPerformance()">
						<ion-col size = "2"><ion-icon name="fitness"></ion-icon></ion-col>
						<ion-col padding>Performance</ion-col>
						<ion-icon name="warning" padding color="warning"></ion-icon>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row (click) = "presentElectronics()">
						<ion-col size = "2"><ion-icon name="phone-portrait"></ion-icon></ion-col>
						<ion-col padding>Electronics</ion-col>
						<ion-icon name="checkmark-circle" padding color="success"></ion-icon>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row (click) = "presentControls()">
						<ion-col size = "2"><ion-icon name="pause"></ion-icon></ion-col>
						<ion-col padding>Controls </ion-col>
						<ion-icon name="checkmark-circle" padding color="success"></ion-icon>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
