<ion-header>
  <ion-toolbar>
  <ion-button icon-only (click) = "dismiss()">
  	<ion-icon name = "arrow-back"></ion-icon>
  </ion-button>
    <ion-title>
      Controls Health
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header> Controls Status- GOOD</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          Your current Control status is good!
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>