ion-card-content {
    padding-top: 0px
}
ion-content{
	--background:	#222428;
}

ion-toolbar{
	--background: black;
	// text-shadow: 1px 1px 10px #f2f771 !important;
	color: white !important;
}
ion-button{
	--background: transparent;
}
.button-solid{
	--background-activated:#fafcc4;
}