<ion-header>
    <ion-toolbar>
    <ion-button icon-only (click) = "dismiss()">
      <ion-icon name = "arrow-back"></ion-icon>
    </ion-button>
      <ion-title>
        Contact Us 
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card style = "background-color :#343d46;" button="true" href="https://www.linkedin.com/in/shakthi-panneer/">
    <ion-card-header>
        <ion-card-subtitle>
            Front-End Developer
          </ion-card-subtitle>
      <ion-card-title style = "color:#c0c5ce;">Shakthi Panneer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Temple University Computer Science B.S. 2020</p>
      <ion-icon size="large" name="logo-linkedin">Linkedin</ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card style = "background-color :#c0c5ce;" button="true" href="https://www.linkedin.com/in/kevinli800/">
    <ion-card-header>
        <ion-card-subtitle>
            Front-End Developer
          </ion-card-subtitle>
      <ion-card-title style = "color:#343d46;">Kevin Li</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Drexel University Computer Science B.S 2022</p>
      <ion-icon size="large" name="logo-linkedin">Linkedin</ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card style = "background-color :#343d46;" button="true" href="https://www.linkedin.com/in/raj-b-patel/">
    <ion-card-header>
        <ion-card-subtitle>
            Business Strategist
          </ion-card-subtitle>
      <ion-card-title style = "color:#c0c5ce;">Raj Patel</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Drexel University Data Science B.S/M.S. 2020 </p>
      <ion-icon size="large" name="logo-linkedin">Linkedin</ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card style = "background-color :#c0c5ce;" button="true" href="https://www.linkedin.com/in/alex-fennell-115076157/">
    <ion-card-header>
        <ion-card-subtitle>
            Back-End Developer
          </ion-card-subtitle>
      <ion-card-title style = "color:#343d46;">Alexander Fennell</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Drexel University Computer Science M.S. 2020</p>
      <ion-icon size="large" name="logo-linkedin">Linkedin</ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card style = "background-color :#343d46;" button="true" href="https://www.linkedin.com/in/matthew-heath-98842a151/">
    <ion-card-header>
        <ion-card-subtitle>
            Back-End Developer
          </ion-card-subtitle>
      <ion-card-title style = "color:#c0c5ce;">Matthew Heath</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>University of Pittsburgh Computer Science B.S. 2021</p>
      <ion-icon size="large" name="logo-linkedin">Linkedin</ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>