// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
ion-content{
  background-color:   #343d46;
  background: #343d46;
}

mwl-gauge > .gauge > .dial {

  stroke: #eee;
  stroke-width: 2;
  fill: rgba(0,0,0,0);

}

mwl-gauge > .gauge > .value {

  stroke: rgb(234,255,47);
  stroke-width: 8;
  fill: rgba(0,0,0,0);

}

mwl-gauge > .gauge > .value-text {

  fill: rgb(211, 211, 211);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;

}