<ion-header>
  <ion-toolbar>
    <ion-button color="medium"  icon-only (click) = "dismiss()" >Back</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label>Location of Service</ion-label>
        <ion-select okText="Confirm">
          <ion-select-option value="Pep Boys">Pep Boys</ion-select-option>
          <ion-select-option value="Fire Stone">Fire Stone</ion-select-option>
          <ion-select-option value="Fire Stone">Team Toyota</ion-select-option>
        </ion-select>
      </ion-item>
</ion-content>

