<ion-header>
    <ion-toolbar>
    <ion-button icon-only (click) = "dismiss()">
      <ion-icon name = "arrow-back"></ion-icon>
    </ion-button>
      <ion-title>
        Documents 
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/reg.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Registration</ion-card-title>
      </ion-card-header>
          </ion-card>

    <ion-card class="welcome-card">
      <ion-img src="/assets/images/ins.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Insurance</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
