<ion-header>
  <ion-toolbar>
  <ion-button icon-only (click) = "dismissModal()">
  	<ion-icon name = "arrow-back"></ion-icon>
  </ion-button>
    <ion-title>
      Benefits
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- <ion-list>
	<ion-card><ion-icon name="medkit"></ion-icon><ion-item>1. </ion-item></ion-card>
	<ion-card><ion-item>2. Obtain user diagnostic reports</ion-item></ion-card>
	<ion-card><ion-item>3. Service reccomendations to optimize cost</ion-item></ion-card>
	<ion-card><ion-item>4. Optimal maintainence scheduling</ion-item></ion-card>
	<ion-card><ion-item>5. Low-cost implementation</ion-item></ion-card>
	<ion-card><ion-item>6. Anomaly detection for car metrics</ion-item></ion-card>
	<ion-card><ion-item>7. Increase resale value </ion-item></ion-card>
	<ion-card><ion-item>8. Detailed history</ion-item></ion-card>
</ion-list> -->

<ion-list>
			<ion-item>
				<ion-grid>
					<ion-row >
						<ion-col size = "2"><ion-icon name="heart-empty"></ion-icon></ion-col>
						<ion-col>Improve longevity of vehichle</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row >
						<ion-col size = "2"><ion-icon name="pulse"></ion-icon></ion-col>
						<ion-col>Obtain user diagnostic reports</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row>
						<ion-col size = "2"><ion-icon name="happy"></ion-icon></ion-col>
						<ion-col>Service recomendations to optimize cost</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row >
						<ion-col size = "2"><ion-icon name="hammer"></ion-icon></ion-col>
						<ion-col>Optimal maintainence scheduling</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row >
						<ion-col size = "2"><ion-icon name="alert"></ion-icon></ion-col>
						<ion-col>Anomaly detection for car metrics</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row >
						<ion-col size = "2"><ion-icon name="cash"></ion-icon></ion-col>
						<ion-col>Increase resale value </ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row >
						<ion-col size = "2"><ion-icon name="folder-open"></ion-icon></ion-col>
						<ion-col> Detailed history</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row >
						<ion-col size = "2"><ion-icon name="medical"></ion-icon></ion-col>
						<ion-col> Easily retrieve insurance and registration files</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row >
						<ion-col size = "2"><ion-icon name="notifications-outline"></ion-icon></ion-col>
						<ion-col> Combat odomoter fraud</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ion-list>
</ion-content>