<ion-header>
  <ion-toolbar>
  <ion-button icon-only (click) = "dismissModal()">
  	<ion-icon name = "arrow-back"></ion-icon>
  </ion-button>
    <ion-title>
      Benefits
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
	<ion-item>1. Improve longevity of vehichle</ion-item>
	<ion-item>2. Obtain user diagnostic reports</ion-item>
	<ion-item>3. Service reccomendations to optimize cost</ion-item>
	<ion-item>4. Optimal maintainence scheduling</ion-item>
	<ion-item>5. Low-cost implementation</ion-item>
	<ion-item>6. Anomaly detection for car metrics</ion-item>
	<ion-item>7. Increase resale value </ion-item>
	<ion-item>8. Detailed history</ion-item>
</ion-list>
</ion-content>