ion-card-header{
	background-color: white;
    border-bottom-left-radius: 2rem;
    color:#222428;
    border-top: 2px solid #F0AB00;
}
ion-card-content{
    color:white;
    margin-top: 1rem;
}

ion-card-title {
    color: #222428 !important;
}
ion-content{
	--background: 	#222428 !important;
	border-top: 2px solid #F0AB00;
}
ion-card{
	--background: #222428 !important;
	color: white;
}
ion-item{
	--background: 	black;
	color: white;
}
ion-list{
	border-radius: 0.5rem;
}
ion-toolbar{
	--background:black;
	// text-shadow: 1px 1px 10px #f2f771 !important;
	color: white !important;
}
ion-button{
	--background: transparent;
}
.button-solid{
	--background-activated:#F0AB00;
}
.list-md{
	background:#a7adba;
}


	ion-button {
 

		--background: #F0AB00;
	   
		color: #222428;
	   
		font-weight: bold;
		
	   
	   }