<ion-header>
  <ion-toolbar>
  <ion-button icon-only (click) = "dismissModal()">
  	<ion-icon name = "arrow-back"></ion-icon>
  </ion-button>
    <ion-title>
      Benefits
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- <ion-list>
	<ion-card><ion-icon name="medkit"></ion-icon><ion-item>1. </ion-item></ion-card>
	<ion-card><ion-item>2. Obtain user diagnostic reports</ion-item></ion-card>
	<ion-card><ion-item>3. Service reccomendations to optimize cost</ion-item></ion-card>
	<ion-card><ion-item>4. Optimal maintainence scheduling</ion-item></ion-card>
	<ion-card><ion-item>5. Low-cost implementation</ion-item></ion-card>
	<ion-card><ion-item>6. Anomaly detection for car metrics</ion-item></ion-card>
	<ion-card><ion-item>7. Increase resale value </ion-item></ion-card>
	<ion-card><ion-item>8. Detailed history</ion-item></ion-card>
</ion-list> -->
<ion-content>
	<ion-card style = "background-color :#343d46;">
		<ion-item>
			<ion-col size = "2"><ion-icon name="heart-empty"></ion-icon></ion-col>
			<p padding>Improve longevity of vehicle</p>
		</ion-item>	
	</ion-card>
	<ion-card style = "background-color :#343d46;">
		<ion-item>
			<ion-col size = "2"><ion-icon name="pulse"></ion-icon></ion-col>
			<p padding>Obtain user diagnostic reports</p>
		</ion-item>	
	</ion-card>
	<ion-card style = "background-color :#343d46;">
		<ion-item>
			<ion-col size = "2"><ion-icon name="happy"></ion-icon></ion-col>
			<p padding>Service recomendations to optimize cost</p>
		</ion-item>	
	</ion-card>
	<ion-card style = "background-color :#343d46;">
		<ion-item>
			<ion-col size = "2"><ion-icon name="hammer"></ion-icon></ion-col>
			<p padding>Optimal maintainence scheduling</p>
		</ion-item>	
	</ion-card>
		<ion-card style = "background-color :#343d46;">
			<ion-item>
				<ion-col size = "2"><ion-icon name="alert"></ion-icon></ion-col>
				<p padding>Anomaly detection for car metrics</p>
			</ion-item>	
	</ion-card>
	<ion-card style = "background-color :#343d46;">
		<ion-item>
			<ion-col size = "2"><ion-icon name="cash"></ion-icon></ion-col>
			<p padding>Increase resale value </p>
		</ion-item>	
	</ion-card>
	<ion-card style = "background-color :#343d46;">
		<ion-item>
			<ion-col size = "2"><ion-icon name="folder-open"></ion-icon></ion-col>
			<p padding> Detailed history</p>
		</ion-item>	
	</ion-card>
	<ion-card style = "background-color :#343d46;">
		<ion-item>
			<ion-col size = "2"><ion-icon name="medical"></ion-icon></ion-col>
			<p padding> Easily retrieve insurance and registration files</p>
		</ion-item>	
	</ion-card>
	<ion-card style = "background-color :#343d46;">
		<ion-item>
			<ion-col size = "2"><ion-icon name="notifications-outline"></ion-icon></ion-col>
			<p padding> Combat odomoter fraud</p>
		</ion-item>	
	</ion-card>
</ion-content>
